extends layout

block body

  div#main(ng-controller='AppCtrl')
    md-toolbar#title-bar.md-theme-light
      h1.md-toolbar-tools
        span Angular Socket.io Chat Application
    md-content#chat.md-theme-light(ng-controller='ChatCtrl')
      md-list
        md-item(ng-repeat='item in messages')
          md-item-content
            div.md-tile-content
              h4
                b{{item.userName}}:
                //- This is to preserve space after username
                = ' '
                {{item.msg}}
        div#bottom

    md-content#message-input
      form.form-horizontal(ng-submit='sendMessage()', ng-controller='MessageCtrl')
        section(layout='row', layout-align='center center')
          md-input-container(flex)
            input(ng-model='message')
          md-input-container
            md-button.md-primary Submit

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src='bower_components/angular-aria/angular-aria.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/angular-material/angular-material.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
