/* app css stylesheet */

html, body {
  min-height:100%;
  padding:0;
  margin:0;
}

#main {
  padding:50px 0 50px;
  position:absolute;
  top:0; bottom:0; left:0; right:0;
}

#title-bar {
  height:64px;
  margin-top:-64px;
}
#container {
  height:100%;
}
#chat {
  width:100%;
  height:100%;
  overflow:auto;
}

#message-input {
  height:50px;
  margin-bottom:-50px;
  overflow:hidden;
}

#bottom {
  margin-top:50px;
  display:block;
}
#room {
  min-width: 200px;
  background-color:lightgray;
}

.user {
  background-color:white;
  margin:10px;
  padding:0 15px 0 15px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
